body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    color: blanchedalmond;
    margin: 0;
    padding: 0;
}
.menu{
    border-radius: 10px;
    background: rgb(70, 153, 246);
    padding: 5px;
    align-items: center;
    margin-bottom: 5px;
    display: inline block;
}
h1{
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
}