body{
    font-family: 'Rubik', sans-serif;
    background: var(--color2);
    overflow-x: hidden;
}
body, p, li, a, ul{
    margin: 0;
    padding: 0%;
    text-decoration: none;
}
:root{
    --color1: #48BFE3;
    --color2: #457B9D;
}
li{
    list-style-type: none;
}
.button{
    background: none;
    border: 2px solid var(--color1);
    color: var(--color1);
    padding: 6px 12px;
    border-radius: 15px;
    text-transform: uppercase;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.6);
    display: inline-block;
}
.button:hover{
    color: whitesmoke;
    background: var(--color1);
}
input, textarea{
    background: rgba(255,255,255,0.05);
    padding: 10px 16px;
    border-radius: 15px;
    border: 2px solid #457B9D;
    color: whitesmoke;
    font-size: 0.8em;
}
textarea{
    font-size: 1em;
}
h1, h2, h3, h4{
    color: #F1FAEE;
    font-weight: normal;
}
p, a, li{
 color: #48BFE3;
}
h1,h3{
  font-size: 1.2em;
}
h2{
    font-size: 1.6em;
}
h4{
    font-size: 1.1em;
}

.leading{
    font-size: 1.1em;
}
/*mobile*/
.grid{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
}
.navmenu{
    margin: 0 20px;
    margin-top: 15px;
}
.navmenu ul{
    display: none;
}
.navmenu h1{
    grid-column: 1/4;
    grid-row: 1;
    padding-bottom: 10px;
    border-bottom: 3px solid var(--color1);
    text-transform: uppercase;
    font-weight: 500;
}
#welcome{
    padding: 0 20px 20px 20px;
}
.welcome-text{
    grid-column: 1/6;
}
.welcome-img{
    grid-column: 6/8;
}
.welcome-img img{
    width: 200%;
}
.welcome-text a{
    margin: 20px 0;
}

#gallery h3{
    margin-bottom: 0;
    text-align: center;
}
#gallery h4{
    color: #48BFE3;
}
.projects a{
    grid-column: 1/9;
    margin: 20px 0;
    display: flex;
}
.projects a *{
    margin: 0 20px;
    max-width: 40%;
    align-self: center;
}
.projects h4{
    color: #9893D8;
}
#skills{
    padding: 30px 20px;
    background: var(--color2);
}
#skills h3{
    text-align: center;
    text-transform: capitalize;
}
#skills ul{
    margin: 40px 0;
}
#skills li{
    padding: 10px;
    background: rgba(0, 0, 0, 0.2);
    grid-column: span 4;
    text-align: center;
    text-transform: capitalize;
}
#skills img{
    margin: 10px auto;
    width: 100%;
    background-size: cover;
    background-image: url(images/activities1.jpg);
}
#contact{
    padding: 30px 20px;
    background: #1D3557;
}
#contact h3, #contact p{
    text-align: center;
    margin-bottom: 0;
}
#contact form{
    width: 80%;
    max-width: 400px;
    margin: 20px auto;
    text-align: center;
}
#contact input, #contact textarea{
    width: 100%;
    margin: 5px 0;
}
#contact .button{
    margin-top: 20px;
}
footer{
    padding: 30px 20px;
    background-color: #1D3557;
    background-image: url(images/icon-1719742.svg);
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: center;
}
footer .copyright{
    grid-column: 1/3;
    font-size: 0.8em;
}
footer .social{
    grid-column: 7/9;
    display: flex;
    justify-content: flex-end;
}
footer li{
    margin: 0 6px;
}
footer img{
    width: 30px;
}

/* Small screen */
@media screen and (min-width: 620px){

}

/* Large screens like laptops*/
@media screen and (min-width: 960px){
    body{
        font-size: 18px;
    }
    
}

/* Desktop screens*/
@media screen and (min-width: 1200px){
    body{
        font-size: 20px;
    }
}


/*Grid test*/
